#zyetax-navbar
{
    .navbar-list
    {
        .list-desc
        {
            padding: 50px;
            .go-to-contact
            {
                a
                {
                    color: #212529;
                    text-decoration: none;
                    border: 2px solid $mainColor;
                    padding: 15px;
                    border-radius: 15px;
                    margin: 10px 20px;
                    font-size: 22px;
                    font-weight: 400;
                    cursor: pointer;
                    -webkit-transition: all .4s linear;
                    transition: all .4s linear;
                    &:hover
                    {
                        background-color: $mainColor;
                        color: #FFF;
                        
                    }
                }
                margin: 10px 20px;
                font-size: 22px;
                font-weight: 400;
                cursor: pointer;
                -webkit-transition: all .4s linear;
                transition: all .4s linear;
            }
            .go-to-works
            {
                @media (max-width: 575px) {
                    display: block;
                    margin-top: 20px;
                }
                a
                {
                    color: #212529;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 22px;
                    -webkit-transition: all .4s linear;
                    transition: all .4s linear;
                    &:hover
                    {
                        color: $mainColor;
                    }
                }
            }
        }
    }
}


.looking-for
{
    padding: 70px 0;
    h2
    {
        color: #3f3d56;
    }
}