.about-me
{
    .img-labs
    {
        img
        {
            -webkit-transform: translateY(1px);
                    transform: translateY(1px);
            @media(max-width: 575px) {
                max-width: 100%;
            }
            @media(min-width: 576px){
                max-width: 100%;
            }
        }
    }
}
.about-desc
{
    background-color: $mainColor;
    height: 350px;
    .about-desc-content
    {
        padding: 150px 0 0 0;
        color: #FFF;
        @media (max-width: 575px) {
            padding: 100px 0 0 0 !important;
        }
        @media (max-width: 630px) {
            padding: 100px 0 0 0 !important;
        }
        @media (max-width: 450px) {
            padding: 80px 0 0 0 !important;
        }
        h1
        {
            @media (max-width: 450px) {
                font-size: 26px;
            }
        }
        p
        {
            font-size: 17px;
        }
        span
        {
            cursor: pointer;
            font-size: 25px;
            border-top: 1px  solid #293347;
            border-left: 1px solid #293347;
            border-radius: 15px;
            padding: 5px;
            a
            {
                color: #FFF;
                text-decoration: none;
            }
        }
    }
}